<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scan Board
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Scan Board</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align: center; margin:auto; margin-top: 75%" *ngIf="!photo">
    <ion-button (click)="takePicture()" shape="round">Take a photo</ion-button>
  </div>

  <div *ngIf="photo" id="board2" style="width: 90%; padding: 10px; margin: auto;"></div>

  <div *ngIf="photo" style="padding: 10px; margin: auto;">
    <ion-button (click)="save()" shape="round">Save</ion-button>
    <ion-button (click)="analyze()" hape="round">Save and Analyze</ion-button>
  </div>

</ion-content>
