<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Board
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Board</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="board2" style="width: 90%; padding: 10px; margin: auto; margin-top: 15px;"></div>

  <ion-checkbox id="white" labelPlacement="start">White to play</ion-checkbox>
  <ion-checkbox id="black" labelPlacement="end">Black to play</ion-checkbox>

  <div style="padding: 10px; margin: auto; text-align: center;">
    <div id="board2" style="width: 90%"></div>
    <ion-button (click)="save()" shape="round">Save</ion-button>
    <ion-button (click)="analyze()" hape="round">Save and Analyze</ion-button>
  </div>

</ion-content>
